@page
@model BuildingCompanyWebApp.Pages.IndividualInvestors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IndividualInvestor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndividualInvestor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndividualInvestor.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Birth date")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Passport date of expire")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.PassportfExpireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Passport no")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Passport authority")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.PassportAuthority)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Passport date of issue")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.PassportIssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndividualInvestor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.Gender.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndividualInvestor.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndividualInvestor.Nationality.Name)
        </dd>
    </dl>
</div>
<br />
<h3>Investments</h3>
<p>
    <a asp-page="/Investments/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Sum")
            </th>
            <th>
                @Html.Raw("Date")
            </th>
            <th>
                @Html.Raw("Investor")
            </th>
            <th>
                @Html.Raw("Project")
            </th>
            <th>
                @Html.Raw("Task")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Investments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investor.IndividualInvestor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.Id)
                </td>
                <td>
                    <a asp-page="/Investments/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="/Investments/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="/Investments/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.IndividualInvestor.Id">Edit</a> |
    <a asp-page="/Investors/Index">Back to List</a>
</div>
