@page
@model BuildingCompanyWebApp.Pages.Employments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@{ Services.PageNavigator.ChangeCurrentPage("Employments/Delete", 0); }

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.Raw("Entry date")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("End date")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employment.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employment.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment.Role.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employment.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employment.Task.TaskType.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Employment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page=@Services.PageNavigator.PreviousPageName asp-route-id=@Services.PageNavigator.PreviousId>Back To Details</a>
    </form>
</div>
