@page
@model BuildingCompanyWebApp.Pages.ProjectTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].PlannedStartDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].PlannedEndDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].StartDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].EndDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTask[0].TaskType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedStartDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedEndDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
